@charset "UTF-8";

/* ==============
共通設定
============== */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


/* ======================
   スタイル設定
====================== */

/* 本文や日本語テキストの基本フォント */
body {
    font-family: "Noto Serif JP", serif;
    font-weight: 400;
    line-height: 2.5;
    font-style: normal;
    font-size: 14px;
    color: #333;
    background-color: #fff;
}

/* 英語用フォント（enクラス） */
.en {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    line-height: 1.8;
    font-style: normal;
    color: #fff;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
    height: auto;
}

/* section {
    padding: 100px 0;
} */

.btn {
    display: block;
    width: 220px;
    height: 64px;
    line-height: 64px;
    background: none;
    border: 1px solid #C7AFA0;
    color: #C7AFA0;
    margin-top: 40px;
    margin-bottom: 50px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: "Noto Serif JP", serif;
}

.btn:hover,
.btn:focus {
    background: rgba(199, 175, 160, 0.7);
    color: #fff;
    border: none;
    cursor: pointer;
}

@media screen and (min-width:768px) {
    .btn {
        align-items: left;
        margin-left: 0;
    }

    .contact-area .btn {
        /* align-items: center; */
        margin-left: auto;
        margin-right: auto;
    }
}

/* ======================
   レイアウト設定
====================== */

/* コンテンツを格納するスタイル */
.inner {
    padding: 0 20px;
    margin: 0 auto;
}

@media screen and (min-width:768px) {
    .inner {
        max-width: 1200px;

    }
}

/* モバイル・PC 表示切り替え */
.sp-only {
    display: block;
}

.pc-only {
    display: none;
}

@media screen and (min-width:768px) {
    .sp-only {
        display: none;
    }

    .pc-only {
        display: block;
    }
}

/* ======================
   ロゴのサイズ変更
====================== */
.logo-area img {
    width: 70px;
    height: auto;

}

.foot-logo img {
    width: 60px;
    height: auto;
}

/* ======================
   スクロールアニメーション
====================== */
/* スクロールダウンの位置 */
.scroll {
    position: absolute;
    left: 5%;
    bottom: 13%;
    writing-mode: vertical-rl;
    color: #fff;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 300;

}

/* 線のアニメーション部分 */
.scroll::before {
    animation: scroll 2s infinite;
    background-color: #fff;
    bottom: -115px;
    content: "";
    height: 100px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 1px;
    animation-timing-function: ease-in-out;
}

/* 線のアニメーション */
@keyframes scroll {
    0% {
        transform: scale(1, 0);
        transform-origin: 0 0;
    }

    50% {
        transform: scale(1, 1);
        transform-origin: 0 0;
    }

    51% {
        transform: scale(1, 1);
        transform-origin: 0 100%;
    }

    100% {
        transform: scale(1, 0);
        transform-origin: 0 100%;
    }
}

/* ======================
   ヘッダー
====================== */

.header {
    width: 100%;
    height: 60px;
    padding: 0px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
}

/* .header-navi {
    display: none;
} */

@media screen and (min-width:768px) {
    .header {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 1200px;
        background-color: transparent;
        transition: background-color 0.3s ease;
        z-index: 200;
        padding-top: 15px;
        height: 60px;
    }

    .header-bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 80px;
        transition: background-color 0.3s ease;
        z-index: 1;
    }

    /* .header.scrolled+.header-bg */
    .header.scrolled~.header-bg {
        /* スクロール後の薄透過背景 */
        background-color: rgba(253, 253, 253, 0.3);
    }

    /* ナビリンク初期色（白） */
    .header .header-navi ul li a {
        color: #fff;
        transition: color 0.3s ease;
    }

    /* スクロール後のリンク色 */
    .header.scrolled .header-navi ul li a {
        color: #D1CDC5;
    }
}

.logo-area {
    width: 150px;
    margin-top: 10px;
    text-align: left;
}

@media screen and (min-width:768px) {
    .logo-area {
        width: 250px;
    }
}

.none {
    display: none;
}

.overlay-close {
    display: none;
}

/* ======================
   モバイル時のハンバーガーメニュー（3本線）設定
====================== */

@media screen and (max-width:767px) {

    #nav-input-open,
    #nav-input-open span {
        display: inline-block;
        vertical-align: middle;
        transition: 0.2s ease-in-out;
    }

    #nav-input-open {
        position: relative;
        width: 40px;
        height: 27px;
        border: none;
        cursor: pointer;

        z-index: 400;
    }

    #nav-input-open span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: #fff;
    }

    #nav-input-open span:nth-of-type(1) {
        top: 0;
    }

    #nav-input-open span:nth-of-type(2) {
        top: 12px;
    }

    #nav-input-open span:nth-of-type(3) {
        top: 24px;
    }

    /* スクロール後のハンバーガーメニューの色 */
    .header.scrolled #nav-input-open span {
        background-color: #D1CDC5;
    }
}

/* ======================
   ハンバーガーメニュー開閉
====================== */
#nav-input:checked~.header-navi ul {
    transform: translateX(0%);
}

#nav-input:checked~#nav-input-open span:nth-of-type(1) {
    transform: translateY(12px) rotate(-45deg);
}

#nav-input:checked~#nav-input-open span:nth-of-type(2) {
    opacity: 0;
}

#nav-input:checked~#nav-input-open span:nth-of-type(3) {
    transform: translateY(-12px) rotate(45deg);
}

/* ======================
   ナビゲーションメニュー（ハンバーガーメニュー）
====================== */

@media screen and (max-width: 767px) {

    /* 背景全体（ブラー用） */
    .overlay-close {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 300;
        display: block;
        opacity: 0;
        pointer-events: none;
        backdrop-filter: blur(8px);
        background: rgba(202, 213, 199, 0.6);
        transition: 0.3s ease;
    }

    /* メニューが開いた時のみクリック可 */
    #nav-input:checked~.overlay-close {
        opacity: 1;
        pointer-events: auto;
    }

    /* メニュー本体（フェード表示） */
    .header-navi {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: auto;
        max-width: 350px;
        height: auto;
        margin-top: 50px;
        opacity: 0;
        transition: 0.35s ease;
        z-index: 500;
        pointer-events: none;
    }

    /* 開いた時 */
    #nav-input:checked~.header-navi {
        opacity: 1;
        transform: translateX(-50%);
        pointer-events: auto;
    }

    /* メニュー内の項目 */
    .header-navi ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }

    .header-navi ul li a {
        color: #fff;
        font-size: 24px;
        letter-spacing: 1px;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    }

    /* X ボタン */
    .nav-close {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 32px;
        color: #fff;
        cursor: pointer;
    }
}

/* ======================
   PC表示のナビゲーション
====================== */

@media screen and (min-width:768px) {
    .header-navi {
        width: 500px;

    }

    .header-navi ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 16px;
        letter-spacing: 1px;
    }

    .header-navi ul a {
        color: #fff;

    }
}

/* ======================
   ヒーロー
====================== */

.hero-slider {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.hero-slider img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    animation: fade 12s infinite;
    animation-timing-function: ease-in-out;
}

.hero-slider img:nth-child(1) {
    animation-delay: 0s;
}

.hero-slider img:nth-child(2) {
    animation-delay: 4s;
}

.hero-slider img:nth-child(3) {
    animation-delay: 8s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    8% {
        opacity: 1;
    }

    33% {
        opacity: 1;
    }

    41% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

/* テキストも同じタイミングで切り替える */
.hero-text h1 {
    position: absolute;
    bottom: 15%;
    right: 5%;
    text-align: right;
    color: #fff;
    width: 80%;
    opacity: 0;
    animation: textFade 12s infinite;
    animation-timing-function: ease-in-out;
    font-weight: 400;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-size: 30px;
}

.hero-text h1:nth-child(1) {
    animation-delay: 0s;
}

.hero-text h1:nth-child(2) {
    animation-delay: 4s;
}

.hero-text h1:nth-child(3) {
    animation-delay: 8s;
}

/* テキスト用アニメーションを追加 */
@keyframes textFade {
    0% {
        opacity: 0;
    }

    8% {
        opacity: 1;
    }

    33% {
        opacity: 1;
    }

    41% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

/* ======================
   ヒーロー　サブページ
====================== */
.hero-img-wrap {
    position: relative;
    aspect-ratio: 1440 / 400;
    width: 100%;
    overflow: hidden;
}

.hero-img-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-title {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease;
}

@media screen and (min-width:768px) {
    .hero-title {
        opacity: 1;
        visibility: visible;
        position: absolute;
        top: 60%;
        color: #fff;
        font-size: 64px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 1200px;
        padding-left: 15px;
    }
}

/* ======================
   Home: Concept セクション
====================== */
.concept-area {
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 70px;
    text-align: center;
}

.concept-txt p:first-of-type {
    color: #F3EDE4;
    font-size: 64px;
}

@media screen and (min-width:768px) {
    .concept-content {
        text-align: center;
    }

    .concept-txt p:first-of-type {
        text-align: center;
    }
}

/* ======================
   Home: Our Flowers セクション
====================== */
.flowers-area {
    background-color: #F3EDE4;
    padding-top: 50px;
    text-align: center;
}

.flowers-txt p:first-of-type {
    color: #fff;
    font-size: 64px;
}

.flowers-txt {
    text-align: center;
}

.flowers-content {
    display: flex;
    flex-direction: column-reverse;
    /* align-items: center; */
}

@media screen and (min-width:768px) {
    .flowers-area {
        position: relative;
        z-index: 0;
        background: none;
    }

    .flowers-area::before {
        content: "";
        position: absolute;
        top: 0;
        left: 200px;
        right: 0;
        height: 100%;
        width: 95%;
        background: #F3EDE4;
        z-index: -1;
    }

    .flowers-content {
        display: flex;
        flex-direction: row-reverse;
    }

    .flowers-txt {
        flex: 1;
        margin-left: 30px;
        text-align: left;
    }

    .flowers-txt p {
        text-align: left;
    }

    .flowers-img {
        flex: 1;
        width: 100%;
        object-fit: cover;
    }
}

/* ======================
   Home: News セクション
====================== */
.news-area {
    background-color: #fff;
    padding-top: 50px;
    text-align: center;
}

.news-txt {
    margin-right: 30px;
    text-align: center;
}

.news-txt p:first-of-type {
    color: #F3EDE4;
    font-size: 64px;
}

.news-content {
    display: flex;
    flex-direction: column-reverse;
}

@media screen and (min-width:768px) {
    .news-content {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .news-txt {
        flex: 1;
        margin-left: 30px;
        text-align: left;

    }

    .news-img {
        flex: 1;
        width: 100%;
        object-fit: cover;
    }
}

/* ======================
   Home: Access セクション updated
====================== */
.access-upd-area {
    background-color: #F7F7F7;
    padding-top: 50px;
    text-align: center;
}

.access-upd-txt p:first-of-type {
    color: #D1CDC5;
    font-size: 64px;
}

.access-upd-txt {
    text-align: center;
}

.access-upd-content {
    display: flex;
    flex-direction: column-reverse;
    /* align-items: center; */
}

@media screen and (min-width:768px) {
    .access-upd-area {
        position: relative;
        z-index: 0;
        background: none;
    }

    .access-upd-area::before {
        content: "";
        position: absolute;
        top: 0;
        left: 200px;
        right: 0;
        height: 100%;
        width: 95%;
        background: #F7F7F7;
        z-index: -1;

        left: 0;
        min-height: 400px;
        width: 85%;
    }

    .access-upd-content {
        display: flex;
        flex-direction: row-reverse;
    }

    .access-upd-txt {
        flex: 1;
        margin-left: 30px;
        text-align: left;
    }

    .access-upd-txt p {
        text-align: left;
    }

    .access-upd-img {
        flex: 1;
        width: 100%;
        object-fit: cover;
    }
}

/* ======================
   Home: Contact セクション
====================== */
label.required::after {
    content: "＊";
    color: red;
    margin-left: 4px;
    font-size: 0.9em;
}

textarea {
    resize: none;
}

.contact-area {
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 70px;
    text-align: center;

}

.contact-txt p:first-of-type {
    color: #F3EDE4;
    font-size: 64px;
}

form {
    width: 90%;
    max-width: 800px;
    padding-top: 50px;
    padding-bottom: 100px;
    margin-right: auto;
    margin-left: auto;
}

dl {
    margin: 0 auto;
    width: 90%;
}

.form-item {
    display: block;
    justify-content: center;
    margin-bottom: 40px;
}

dt {
    width: 100%;
    text-align: left;
}

dd {
    width: 100%;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    padding: 0.3em;
}

textarea {
    min-height: 100px;
}

@media screen and (min-width:768px) {

    .contact-content {
        text-align: center;
    }

    .contact-txt p:first-of-type {
        text-align: center;
    }

    dl {
        width: 500px;
    }

    .form-item {
        display: flex;
    }

    dt {
        width: 200px;
        text-align: right;
        padding-right: 50px;
    }

    dd {
        width: 300px;
    }
}

/* ======================
   フッター
====================== */
.foot-area {
    color: #fff;
    text-align: center;
    padding-top: 20px;
    padding-left: 25px;
    background-color: #CAD5C7;
    margin-top: -50px;
}

.foot-logo {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.text-phone,
.text-phone a {
    color: #fff;
}

address {
    font-style: normal;
    line-height: 1.5;
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
}

.foot-area_copy {
    font-size: 12px;
    display: inline-block;
    width: 100%;
    padding: 10px 0;
}

/* ======================
   第二階層：Our Flowers
====================== */
.sub-page-h2 {
    font-size: 24px;
    color: #C7AFA0;
    font-weight: 400;
    line-height: 1.7;
    padding-bottom: 25px;
}

.sub-page-wrap {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 70px;
}

.flowers-pic {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-bottom: 200px;
}

@media screen and (min-width:768px) {
    .sub-page-h2 {
        font-size: 36px;
        color: #C7AFA0;
        font-weight: 400;
    }

    .sub-page-wrap {
        text-align: center;
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .flowers-pic {
        gap: 55px;
    }

}

/* ======================
   第二階層：News
====================== */
.news-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-items: center;
    padding: 50px 0;
}

.border-wrap {
    border-top: 1px solid #C7AFA0;
    border-bottom: 1px solid #C7AFA0;
    padding: 0;
    margin-bottom: 200px;

}

.news-wrap+.news-wrap {
    border-top: 1px solid #C7AFA0;
}

.sub-title {
    padding-top: 70px;
}

@media screen and (min-width:768px) {

    .news-wrap,
    .border-wrap {
        gap: 50px;
        max-width: 800px;
        margin-right: auto;
        margin-left: auto;
    }
}

/* ======================
   第二階層：Access
====================== */
.sub-title {
    padding-top: 70px;
    padding-bottom: 60px;

}

.access-tbl th {
    font-weight: 400;
    text-align: right;
    padding-right: 20px;
}

.gmap {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 80px;
}

.gmap iframe {
    width: 100%;
    max-width: 800px;
    border: 0;

}

.access-txt {
    text-align: center;
    margin-bottom: 200px;
}